.cover-header
{
    height:auto;
    width:60%;
    margin-left: 50px;
    margin-right:50px;
    
}
.header1
{
	height:auto;
	width:100%;
}
.header2
{
	height:auto;
	width:100%;
}
.cover-header h1
{
    font-size: 120px;
    font-weight: 2800;
    font-family: "Gill Sans", sans-serif;;
}
.cover-header h4
{
    font-size: 60px;
    font-weight: 600;
    font-family: proxima-nova-1,proxima-nova-2,sans-serif;
    margin-top: -70px;
}
.card
{
    height:auto;
    width:87%;
    margin-left: 60px;
}
.card-1,.card-2,.card-3
{
    height:870px;
}
.card1-img,.card2-img,.card3-img
{
    height:540px;
}
.card1-p,.card2-p,.card3-p
{
    height:300px;
    width:80%;
    margin-left: 120px;
}
.card1-p h1,.card2-p h1,.card3-p h1 
{
    font-size: 60px;
    font-weight: 700;
    font-family: proxima-nova-1,proxima-nova-2,sans-serif;

}
.card1-p h3,.card2-p h3,.card3-p h3
{
    font-size: 40px;
    font-weight: 500;
    font-family: proxima-nova-1,proxima-nova-2,sans-serif;
    margin-top: -15px;

}
.container
{
    height:auto;
    width:87%;
    margin-left: 60px;
}
.container-1
{
    height:auto;
}
.container1-card1,.container1-card2,.container1-card3
{
    height:870px;
}
.container1-card1-img1,.container1-card2-img2,.container1-card3-img3
{
    height:540px;
}
.container1-card1-p1,.container1-card2-p2,.container1-card3-p3
{
    height:300px;
    width:80%;
    margin-left: 120px;
}
.container1-card1-p1 h1,.container1-card2-p2 h1,.container1-card3-p3 h1
{
    font-size: 60px;
    font-weight: 700;
    font-family: proxima-nova-1,proxima-nova-2,sans-serif; 
}
.container1-card1-p1 h3,.container1-card2-p2 h3,.container1-card3-p3 h3
{
    font-size: 40px;
    font-weight: 520;
    font-family: proxima-nova-1,proxima-nova-2,sans-serif;
    margin-top: -15px;
}
.footer-button
{
	text-align: center;
}
.footer-button button
{
    font-size: 45px;
    font-weight:700;
    color:#3489eb;
    text-align: center;
    background-color: aliceblue;
	border: 1.5px solid #093e66;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
	font-family: proxima-nova-1,proxima-nova-2,sans-serif;


}
.footer-button button :hover
{
    color:aliceblue;
    background-color:#3489eb;
}


@media only screen and (min-width:1000px)
{
.cover-header
{
	border:0px;
	padding:0px;
	list-style-type:none;
	width:80%;
	height:auto;
	margin-bottom:0%;
	margin-left:3%;
	margin-top: 11%;
	margin-right:10%;
}
.header1
{
	height:auto;
	width:50%;
	margin-left: 9%;
	margin-right: 0%;
	margin-bottom: 0%;
	margin-top: 0%;
}
.header2
{
	height:auto;
	width:20%;
	margin-left:88%;
	margin-bottom: 0%;
	margin-top: 0%;
}
.cover-header h1
{
	font-size: 60px;

}
.cover-header h4
{
	font-size: 42px;
	font-weight:500;
	text-align:right;
}
.card
{
	display: flex;
	justify-content: center;
	margin-left:10%;
	margin-top: 0px;
	margin-right: 10%;
	margin-bottom:10%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
	transition: 0.4s;
	width: 80%;
	height: auto;
	float: left;
} 
.card-1
{
	height:auto;
	width:50%;
	padding-left: 0px;
	padding-right:0px;
	float:left;
}
.card1-img
{
	height:auto;
	width:100%;
	float: left;
	padding-right: 0px;
	padding-left: 0px;
	overflow:hidden;
}
.card1-img img
{
	height:auto;
	width:100%;
	float: left;
	padding-right: 0px;
	padding-left: 0px;
	transition: transform 0.5s;
}
.card1-img img:hover
{
	transform:scale(1.1);
	transition:0.5s;
	height:100%;
	width:100%;
}
.card1-p
{
	visibility: hidden;
}
.card1-p h2
{
	visibility: hidden;
}
.card-2,.card-3
{
	height:auto;
	width:25%;
	padding-left: 0px;
	padding-right:0px;
}
.card2-img
{
	height:auto;
	width:100%;
	float: left;
	padding-right: 0px;
	padding-left: 0px;
	overflow:hidden;
}
.card2-img img
{
	height:auto;
	width:100%;
	transition: transform 0.5s;
	padding-right: 0px;
	padding-left: 0px;
}
.card3-img
{
	height:50%;
	width:100%;
	float: left;
	padding-right: 0px;
	padding-left: 0px;
	overflow:hidden;

}
.card3-img img
{
	height:100%;
	width:100%;
	transition: transform 0.5s;
	padding-right: 0px;
	padding-left: 0px;	
}
.card2-img img:hover,.card3-img img:hover
{
	transform: scale(1.1); 
	transition:0.5s;
	height:100%;
	width:100%;	
}
.card2-p,.card3-p
{	
	height:auto;
	width:100%;
	margin-top: 0%;
	margin-left: 9%;
}
.card2-p h1,.card3-p h1
{	
	font-size: 40px;
	text-align:cenetr;
	font-weight: 400;
}
.card2-p h3,.card3-p h3
{
	font-size: 20px;
	margin-left:7px;
	font-weight: 50;
	font-family: 'Courier New', Courier, monospace;
}

.container
{
	height:auto;
	width:70%;
	margin-right:10%;
	margin-left:15%;
	background-color: white;	
}
.container-1,.container-2,.container-3
{
	height:auto;
	width:100%;
	padding:0px;
	margin-left:0px;
	display:flex;
	justify-content: center;
}
.container1-card1,.container1-card2,.container1-card3
{
	height:auto;
	width:33.3%;
	justify-content: center;
}
.container1-card1-img1,.container1-card2-img2,.container1-card3-img3
{
	height:auto;
	width:100%;
	padding:0px;
	overflow:hidden;
}
.container1-card1-img1 img,.container1-card2-img2 img,.container1-card3-img3 img
{
	
	height:45%;
	width: 100%;
	transform:transition 0.5s;
}
.container1-card1-img1 img:hover,.container1-card2-img2 img:hover,.container1-card3-img3 img:hover
{
	transform: scale(1.1); 
	transition:0.5s;
}
.container1-card1-p1,.container1-card2-p2,.container1-card3-p3
{
	height:65%;
	width:100%;
	margin-left: 0%;
	margin-right: 0%;
}
.container1-card1-p1 h1,.container1-card2-p2 h1,.container1-card3-p3 h1
{
	font-size: 40px;
	font-weight:100;
}
.container1-card1-p1 h3,.container1-card2-p2 h3,.container1-card3-p3 h3
{
	font-size: 20px;
	font-weight: 50;
	font-family: 'Courier New', Courier, monospace;
}
.footer-button
{
	height:1%;
	width:45%;
	margin-top: 10%;
	margin-left:27.5%;
}
.footer-button button

{
	font-size: 35px;
	font-weight:100;
	color:#093e66;
	text-align: center;
	padding-left:40px;
	padding-right:40px;
	padding-top:15px;
	padding-bottom:15px;
	border: 1.5px solid #093e66;
	background-color:-moz-only-whitespace;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	transform:transition 0.5s;
}

.footer-button button:hover
{

	background-color:#093e66;
	color:whitesmoke;
	transition:0.3s;
}
}