.cover-header
{
	margin:0px;
	border:0px;
	padding:0px;
	list-style-type:none;
	height:100px;
	width:1790px;
	margin-bottom:100px;
	margin-left: 54px;
	margin-top: 54px;
	margin-right: 0px;
}
.cover-header h1
{
	font-size: 60px;
	margin-left: 4%;
	margin-right: 5%;
}
.cover-header h4
{
	font-size: 40px;
	font-weight:500;
	text-align:right;
	margin-right: 110px;
}
.card
{
	display: flex;
	justify-content: center;
	margin-left: 130px;
	margin-top: 0px;
	margin-right: 54px;
	margin-bottom:100px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
	transition: 0.4s;
	width: 1600px;
	height: 700px;
	float: left;
} 
.card-1
{
	height:700px;
	width:50%;
	padding-left: 0px;
	padding-right:0px;
	float:left;
}
.card1-img
{
	height:700px;
	width:100%;
	float: left;
	padding-right: 0px;
	padding-left: 0px;
	overflow:hidden;
	z-index: -1;
}
.card1-img img
{
	height:100%;
	width:100%;
	float: left;
	padding-right: 0px;
	padding-left: 0px;
	transition: transform 0.5s;
}
.card1-img img:hover
{
	transform:scale(1.1);
	transition:0.5s;
	height:100%;
	width:100%;
}
.card1-p
{
	text-align: center;
}
	
.card1-p h2
{
	font-weight: 100;
}
.card-2
{
	height:278px;
	width:25%;
	padding-left: 0px;
	padding-right:0px;
}
.card2-img
{
	height:278px;
	width:100%;
	float: left;
	padding-right: 0px;
	padding-left: 0px;
	overflow:hidden;
}
.card2-img img
{
	height:278px;
	width:100%;
	transition: transform 0.5s;
	padding-right: 0px;
	padding-left: 0px;
}
.card2-img img:hover
{
	transform: scale(1.1); 
	transition:0.5s;
	height:100%;
	width:100%;	
}
.card2-p
{	
	height:100%;
	width:100%;
	margin-top: 350px;
}
.card2-p h1
{	margin-top: 100px;
	margin-left:100px;
	margin-right:100px;
	font-size: 40px;
	text-align:cenetr;
	font-weight: 400;
}
.card2-p h3
{
	margin-left:100px;
	font-size:20px;
	font-weight:100
}
.card-3
{
	height:278px;
	width:25%;
	float:left;
}
.card3-img
{
	height:100%;
	width:100%;
	float:left;
	overflow: hidden;
}
.card3-img img
{
	height:100%;
	width:100%;
	transition: transform 0.5s;
}
.card3-img img:hover
{
	transform: scale(1.1); 
	transition: transform 1s;
	height:100%;
	width:100%;
	transition:0.5s;
}
.card3-p
{
	height:100%;
	width:100%;
	margin-top: 350px;

}
.card3-p h1
{
	margin-top: 100px;
	margin-left:100px;
	margin-right:100px;
	font-size: 40px;
	text-align:cenetr;
	font-weight: 400;
}
.card3-p h3
{
	margin-left:100px;
	font-size:20px;
	font-weight:100
}
.container
{
	height:1700px;
	width:1500px;
	margin-right:10px;
	margin-left:180px;
	background-color: white;
}
.container-1,.container-2,.container-3
{
	height:800px;
	width:1500px;
	padding:0px;
	margin-left:0px;
	display:flex;
	justify-content: center;
}
.container1-card1,.container1-card2,.container1-card3
{
	height:1000px;
	width:500px;
	justify-content: center;
}
.container1-card1-img1,.container1-card2-img2,.container1-card3-img3
{
	height:400px;
	width: 500px;
	padding:0px;
	overflow:hidden;
}
.container1-card1-img1 img,.container1-card2-img2 img,.container1-card3-img3 img
{
	
	height:400px;
	width: 500px;
	transform:transition 0.5s;
}
.container1-card1-img1 img:hover,.container1-card2-img2 img:hover,.container1-card3-img3 img:hover
{
	transform: scale(1.1); 
	transition:0.5s;
}
.container1-card1-p1,.container1-card2-p2,.container1-card3-p3
{
	height:500px;
	width:150px;
	margin-left: 130px;

}
.container1-card1-p1 h3,.container1-card2-p2 h3,.container1-card3-p3 h3
{
	font-size: 40px;
	font-weight:100;
	margin-bottom:40px;
	margin-left:50px;
}
.container1-card1-p1 h4,.container1-card2-p2 h4,.container1-card3-p3 h4
{
	font-size: 20px;
	margin-left:50px;
	font-weight: 50;
	font-family: 'Courier New', Courier, monospace;
}
.footer-button
{
	height:30px;
	width:1500px

}
.footer-button button

{
	font-size: 35px;
	font-weight:100;
	color:#093e66;
	text-align: center;
	padding-left:40px;
	padding-right:40px;
	padding-top:15px;
	padding-bottom:15px;
	border-width: 1.5px;
	border-color:#093e66;
	background-color:whitesmoke;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	transform:transition 0.5s;
}
.footer-button button:hover
{

	background-color:#093e66;
	color:whitesmoke;
	transition:0.3s;

}